asgiref
asn1crypto
astroid
attrs
autobahn
Automat
autopep8
certifi
cffi
chardet
colorama
constantly
cryptography
defusedxml
Django
django-allauth
django-countries
django-crispy-forms
django-tinymce4-lite
hyperlink
idna
incremental
isort
jsmin
lazy-object-proxy
mccabe
oauthlib
pep8
Pillow
psycopg2-binary
#psycopg2
pycodestyle
pycparser
PyHamcrest
pylint
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
stripe
txaio
typed-ast
urllib3
virtualenv
virtualenvwrapper-win
wrapt
zope.interface